# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/croissant-server/build.gradle.kts
/croissant-server/src/minecraft
/croissant-api/build.gradle.kts
/canvas-api
/canvas-server
/folia-api
/folia-server
/paper-server
/paper-api

.idea/
/local/
